<div id="code">
  <!-- MENU -->
  <nav class="hidden-print">
    <ul>
      <li class="drop">
        <div class="user-avatar">
          <img src="/assets/img/menu-point.png">
        </div>
        <a>Naterra</a>
        <span aria-hidden="true" class="glyphicon glyphicon-menu-hamburger orange-txt"></span>
        <div class="triangle"></div>
        <div class="dropdownContain">
          <div class="dropOut">
            <ul>
              <!-- Naterra -->

              <li *ngFor="let item of list">
                <div class="user-avatar">
                  <img src="/assets/img/menu-point.png">
                </div>
                <span aria-hidden="true" class="icon-envelope-alt"></span>
                <a>{{item}}</a>
              </li>


            </ul>
          </div>
        </div>
      </li>
    </ul>
  </nav>
  <!--- MENU END --->


  <!-- Brand Name -->


  <img src="/assets/img/naterra-logo.jpg">
  <h2 class="brandname">Naterra International </h2>


  <!--boost-->

  <div class="container">
    <div class="row">
      <div class="col-sm-10"></div>
    </div>
    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-5"></div>
    </div>
    <div class="row"></div>
  </div>

  <!--boostend-->

  <!--SKU-LIST-->
  <p>Enter / Select Item #</p>
  <div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input style="text-align: center;" type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='optionSelected($event.option.value)'>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <!---->

  <div style="margin: 0 0 10px 0;">
    <span class="ddate" *ngIf="lastLot">Last lot {{lastLot.lot}} generated on {{lastLot.date | date: 'MMM d, y, HH:m:s'}}</span>
  </div>
  <mat-chip-list>
    <mat-chip color="accent" selected (click)="generate()"> Generate New Lot #</mat-chip>
  </mat-chip-list>
  <span class="ddate">{{date | date: 'MMM d, y, HH:m:s'}}</span>

  <div id="lotarea">
    <div class="lotnumber">

      <span> {{lot_number}}</span>

    </div>

    <span class="ddate">{{date | date: 'MMM d, y, HH:m:s'}}</span>

    <br>
    <ngx-barcode *ngIf="lot_number != lot_number_start_value" [bc-value]="lot_number" [bc-display-value]="true"></ngx-barcode>

  </div>





  <!---test-->


  <!---1-->
  <mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add New Items
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div id="addnewsku">

        <br>

        <div class="newskuform">
          <mat-form-field class="example-full-width">
            <input style="text-align: center;" type="text" matInput ngModel #p1="ngModel" placeholder="New SKU">
          </mat-form-field>
        </div>

        <span class="importfile01"> or
          <input style="width: 84%;" type="file" id="file_input" (change)="onFileChange($event)" /> (excel, csv)
        </span>
        <br>
        <br>

        <mat-chip-list>
          <mat-chip color="accent" selected (click)="saveNewSku(p1.value)"> Save</mat-chip>
        </mat-chip-list>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <!--test-->


  <div class="footera">
    <span id="footerdays"></span>
  </div>



</div>