@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    line-height: 1.2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url('http://bmsc.staging.wpengine.com/wp-content/uploads/2018/08/cava.jpg');
    background-repeat: repeat;
    background-size: cover;
}

nav {
    width: 84%;
    margin: 0px auto 35px;
    background: #f6f6f6;
    -moz-border-radius: 0.4em / 0.4em;
    -webkit-border-radius: 0.4em 0.4em;
    border-radius: 0.4em / 0.4em;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.user-avatar img {
    -moz-border-radius: 4em / 4em;
    -webkit-border-radius: 4em 4em;
    border-radius: 4em / 4em;
    float: left;
    margin-left: 0.618em;
    margin-top: 13px;
}

.glyphicon-menu-hamburger {
    padding: .8em 1em;
    color: white;
    border-radius: 0 .4em .4em 0;
    float: right;
    top: 0;
}

.drop {
    position: relative;
    font-size: 1em;
    cursor: pointer;
}

.drop a {
    font-weight: 400;
    line-height: 2.5em;
    padding: 0 1em;
    color: #4d4d4d;
    text-decoration: none;
}

.triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
    border-top: .4em solid #00a690;
    left: 89.5%;
    margin-left: -.4em;
    opacity: 0;
}

.dropdownContain {
    width: 11em;
    position: absolute;
    z-index: 2;
    left: 68%;
    margin-left: -6.5em;
    /* half of width */
    top: -300px;
}

.dropOut {
    width: 13em;
    background: #f6f6f6;
    float: left;
    position: relative;
    margin-top: 0;
    opacity: 0;
    -moz-border-radius: 0.4em / 0.4em;
    -webkit-border-radius: 0.4em 0.4em;
    border-radius: 0.4em / 0.4em;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.75);
    overflow: hidden;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.dropOut ul {
    padding: .3em 0;
    margin: 0;
}

.dropOut li {
    text-align: left;
    width: 100%;
    padding: 0px 0;
    color: gray;
    border-left: 3px solid #f7f7f7;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.dropOut li span {
    color: #cccccc;
    margin: 0em;
}

.dropOut li:hover {
    border-color: #ffc568;
    color: #4d4d4d;
    background: #ededed;
}

.dropOut li:hover span {
    color: gray;
}

ul li:hover .triangle {
    opacity: 1;
}

ul li:hover .dropdownContain {
    top: 41px;
}

ul li:hover .dropOut {
    opacity: 1;
    margin-top: 20px;
}

.orange-txt {
    background-color: #003334;
    height: 60px;
}

.orange-txt:hover {
    background: #00a690;
}

.brandname {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    font-size: 26px;
    margin-top: 6px;
    margin-bottom: 30px;
}

#code {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 50px 0px 0px;
    font-size: 1.5em;
    font-family: monospace;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.15);
    font-family: "Roboto Slab", Arial, Tahoma, sans-serif;
}

.btn {
    font-family: 'sans-serif', sans-serif;
    border-radius: 33px;
    display: inline-block;
    color: #FFF !important;
    font-family: inherit;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.4rem;
    padding: 15px 40px !important;
    cursor: pointer;
    border: 1px solid #1EA691;
    background: #00A690;
    margin: 0px 0px;
    width: 200px;
}

.btn-footer {
    border-radius: 33px;
    display: inline-block;
    color: #FFF !important;
    font-family: inherit;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.4rem;
    padding: 15px 40px !important;
    cursor: pointer;
    border: 1px solid #1EA691;
    background: #00A690;
    margin: 10px 0px;
    width: 169px;
    margin: 35px auto;
}

.btn-footer:hover {
    background: #003334;
}

.btn:active {
    padding: 10px 40px;
    background-color: darkgreen;
}

/* Style the active class, and buttons on mouse-over */

.active,
.btn:hover {
    background: #003334;
    color: white;
}

.lotnumber {
    margin: 12px auto 0px auto;
    text-align: center;
    border-radius: 0px;
    padding: 14px 51px;
    font-size: 1.2em;
    letter-spacing: 6px;
    background-color: #f9f9f9;
    width: 56%;
    text-align: center;
}

#tariikh {
    text-align: center;
    font-size: 0.7em;
}

.footera {
    text-align: center;
    font-size: 0.8em;
    padding: 13px 20px;
    line-height: 19px;
}

/************ switcher **********/

.middle {
    margin: 30px auto 20px;
    padding-bottom: 29px;
    width: 194px;
    position: relative;
    text-align: center;
}

span.male-switch,
span.female-switch {
    float: left;
    font-size: 18px;
    color: #00a690;
    margin-top: 2px;
}

.switch-gender {
    position: relative;
    float: left;
    height: 30px;
    width: 60px;
    margin: 0 10px;
    background: #00a690;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    cursor: pointer;
}

.switch-label:active {
    font-weight: bold;
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}

.switch-input {
    display: none;
}

.switch-input:checked+.switch-label {
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

.switch-input:checked+.switch-label-on~.switch-selection {
    /* Note: left: 50% doesn't transition in WebKit */
    left: 31px;
}

.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 1px;
    width: 28px;
    height: 26px;
    background: #FFF;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

/******Menu*******/

/* Wrapper */

.wrap {
    width: 50%;
    margin: 3em auto;
}

/* Custom Select Input
// ======================================
// Custom Select Styling for Webkit
// ======================================
// Allows us to use a custom arrow and avoid
// the browsers that dont support it.
*/

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .custom-select {
        background: #EFEFEF url("assets/img/menu.png") 95% 50% no-repeat;
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }
}

@media only screen and (min-width: 100px) and (max-width: 600px) {
    #code {
        width: 90%;
    }
}

/* DATA SELECT */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
}

#page-wrapper {
    width: 640px;
    background: #FFFFFF;
    padding: 1em;
    margin: 1em auto;
    border-top: 5px solid #69c773;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

h1 {
    margin-top: 0;
}

label {
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: #999999;
}

input {
    width: 100%;
    padding: 0.1em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 0px solid #D9D9D9;
    border-bottom: 1px solid #b1b1b1;
    background-color: #f9f9f9;
    text-align: center;
}

button {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.5rem 0.8em;
    background: #69c773;
    border-bottom: 1px solid #498b50;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    width: 100%;
    text-align: center;
}

button:hover,
button:focus {
    opacity: 0.75;
    cursor: pointer;
}

button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

.importfile01 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.btn2 {
    font-family: 'sans-serif', sans-serif;
    border-radius: 33px;
    display: inline-block;
    color: #FFF !important;
    font-family: inherit;
    text-align: center;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.4rem;
    padding: 15px 9px !important;
    cursor: pointer;
    border: 1px solid #1EA691;
    background: #00A690;
    margin: 0px 0px;
    margin-top: -20px;
    width: 56px;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    margin-top: -23px !important;
}

.newskuform {
    margin: auto;
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
}

#addnewsku {
    margin-bottom: 10px
}

.mat-divider {
    display: block !important;
    margin: auto !important;
    border-top-width: 1px;
    border-top-style: solid;
    margin-bottom: -10px !important;
    width: 80% !important;
    border-top-color: rgba(0, 0, 0, 0.58) !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    width: 390px;
    margin: auto;
    margin-top: 50px;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
    background-color: #01a690 !important;
    color: #fff;
    padding: 10px 20px !important;
    margin: auto;
}

.ddate {
    font-size: 0.6em;
}

input.mat-input-element {
    background-color: #f9f9f9;
}